section {
    min-height: 100vh;

    &.header-highlight {
        position: relative;

        width: 100%;
        min-height: 60vh;

        @include responsive(large) {
            min-height: 100vh;
        }

        background: no-repeat center bottom url(../images/bg.png);
        background-size: cover;

        &:before {
            @include responsive(medium) {
                @include generated-content(60vw, 100vh);

                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;

                margin: auto 180px 0 auto;

                background: no-repeat top center url(../images/img-candidato.png);
                background-size: 100%;
            }

            @include generated-content(125vw, 88vh);

            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            margin: auto auto -180px -80px;
            background: no-repeat top left url(../images/img-candidato.png);
            background-size: 100%;
        }

        &:after {

            @include responsive(large) {
                @include generated-content(692px, 299px);
                margin: auto 0 -100px auto;

                background-size: inherit;
            }

            @include generated-content(60vw, 20vh);

            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 10;

            margin: auto 0 -80px auto;
            background: no-repeat top left url(../images/bg-header.png);
            background-size: 100%;
        }

        .header-highlightContent {
            @include responsive(large) {
                min-height: 90vh;
            }

            min-height: 60vh;
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            margin: auto;

            &.img-bora {
                @include responsive(medium) {
                    transform: inherit;

                    margin: auto auto 220px 0;
                }

                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                transform: scale(.7);

                margin: auto auto 180px 0;

            }

            &.img-itv {
                @include responsive(medium) {
                    transform: inherit;

                    margin: auto auto 120px 420px;
                }

                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                transform: scale(0.4);

                margin: auto auto 18vh 30vw;
            }
        }

        svg {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            margin: auto;
            width: 100%;


            &#svg-partido {
                @include responsive(large) {
                    margin: auto auto 120px 0px;
                }

                max-width: 24%;
                margin: auto auto 21vh 15vw;
            }
        }

        .btn {
            @include responsive(large) {
                bottom: 0;

                transform: inherit;
            }

            position: absolute;
            bottom: 80px;
            left: 0;
            transform: scale(0.8);
        }
    }

    &.presentation {
        min-height: auto;

        background-color: color(tertiary, lighter);
        color: color(light);

        img {
            margin: 0 0 (- space(p));
        }


        h3 {
            @include font(bold);

            margin: 0 0 space(m);
            color: color(light);

            font-size: font-size(xxxxbig);
        }

        p {
            font-size: font-size(xbig);
            color: color(light);
        }
    }

    &.form {
        padding: space(gg) 0 0;

        background-color: color(primary);


        .img-bora {
            @include responsive(large) {
                margin: (- space(xg) * 2) 0 (- space(xg));
            }

            margin: (- space(g) * 2) 0 (- space(g));
        }

        .formContainer {
            background-color: color(light, darker);
        }

        h2 {
            @include font(bold);

            margin-bottom: space(base);

            font-size: font-size(xxxbig);
            color: color(primary);
        }

        p {
            @include font(medium);
            font-size: font-size(big);
        }

        .loading {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .loading-spinner {
            width: 50px;
            height: 50px;
        }

        .loading-spinner svg {
            position: relative;
            animation: rotate 2s linear infinite;
            height: 50px;
            width: 50px;
        }

        .loading-spinner circle {
            stroke: color(dark);
            stroke-dasharray: 1,200;
            stroke-dashoffset: 0;
            stroke-linecap: round;
            animation: dash 1.5s ease-in-out infinite;
        }

        .js-success-message {
            color: color(success);
        }
        .js-error-message {
            color: color(danger);
        }

        @keyframes rotate {
            100% { transform: rotate(360deg); }
        }

        @keyframes dash {
            0% { stroke-dasharray: 1,200; stroke-dashoffset: 0; }
            50% { stroke-dasharray: 89,200; stroke-dashoffset: -35; }
            100% { stroke-dasharray: 89,200; stroke-dashoffset: -124; }
        }
    }

    &.texts {
        min-height: auto;

        .container {
            @include responsive(medium, max) {
                max-width: 100%;
                margin: 0;
                padding: 0;
            }
        }

        .line-1 {
            @include responsive(large) {
                background: color(primary, lighter);
                background: -moz-linear-gradient(left,  color(primary, lighter) 50%,  color(secondary) 50%);
                background: -webkit-linear-gradient(left,  color(primary, lighter) 50%, color(secondary) 50%);
                background: linear-gradient(to right,  color(primary, lighter) 50%, color(secondary) 50%);
            }
        }

        .line-2 {
            @include responsive(large) {
                background: color(secondary);
                background: -moz-linear-gradient(left,  color(secondary) 50%,  color(danger) 50%);
                background: -webkit-linear-gradient(left,  color(secondary) 50%, color(danger) 50%);
                background: linear-gradient(to right,  color(secondary) 50%, color(danger) 50%);
            }

        }

        .bg-color-1 {
            background-color: color(primary, lighter);
            color: color(light);

            h4,
            p {
                color: inherit;
            }
        }

        .bg-color-2 {
            background-color: color(secondary);
            color: color(primary, lighter);

            h4,
            p {
                color: inherit;
            }
        }

        .bg-color-3 {
            background-color: color(danger);
            color: color(light);

            h4,
            p {
                color: inherit;
            }
        }

        h4 {
            @include font(bold);

            margin: 0 0 space(g);
            font-size: font-size(xxxbig);
            line-height: .7;
        }

        p {
            font-size: font-size(big);
            line-height: 1;
        }
    }

    &.video {
        min-height: inherit;

        .bg-color-1 {
            background-color: color(tertiary, lighter);
            color: color(light);

            h3,
            p {
                color: inherit;
            }

            h3 {
                @include font(bold);

                font-size: font-size(xxxbig);
            }

            p {
                font-size: font-size(xxbig);
            }
        }

        .categories {
            position: relative;
            bottom: (- space(xg));

            margin: (- space(xg)) 0 0;
        }

        iframe {
            @include responsive(large) {
                width: 1200px;
            }

            width: 80%;
        }
    }

    &.lead {
        background: center url(../images/bg-lead.png);
        background-size: cover;

        .leadContainer {
            background-color: color(primary, lighter);

            border-radius: 20px;
        }

        p {
            margin: space(xg) 0;

            font-size: font-size(xbig);
            color: color(light);

            a {
                @include font(bold);

                display: inline;
                padding: space(p) space(m);

                font-style: italic;
                letter-spacing: inherit;

            }
        }
    }

    &.action-button {
        position: relative;
        background: center url(../images/bg-cta.png);
        background-size: cover;

        display: flex;
        align-content: center;
        justify-content: center;

        .row {
            min-height: 100vh;
        }

        a {
            display: inline-flex;
            align-self: center;

            font-size: font-size(big);
        }
    }

    &.footer-border {
        position: relative;

        width: 100%;
        min-height: 169px;
        padding-bottom: 169px;

        background: color(primary, darken);
        background: -moz-linear-gradient(left,  color(primary) 50%, color(primary, darken) 50%);
        background: -webkit-linear-gradient(left,  color(primary) 50%,color(primary, darken) 50%);
        background: linear-gradient(to right,  color(primary) 50%,color(primary, darken) 50%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b1eb', endColorstr='#262680',GradientType=1);

        &:before {
            @include generated-content(100%, 169px);

            position: absolute;
            bottom: 0;
            left: 0;

            background: -13% 0 repeat-x url(../images/bg-rectangle.png);
        }
    }
}